/* header syle with background page transition */
header{
    background-color: #30201a;
    padding: 10px 33px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    
    mask-image: linear-gradient(
        black 90%,
        transparent
    ); 
    transition: all 0,8s;
    }
/* header icon style*/
#iconoC{
    width: 70px;
}

/* icon page style*/
.icon{
    width: 40px;
}

/* body style with a background image*/
body{
   background-image: url(../img/wallpaperdark.png);
   background-color: rgb(0, 0, 0);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    flex-direction: column;
}

/* content page style*/
main{
    text-align: center;
    background-color: #313546e1;
    margin:30px 50px;
    padding: 10px 10px;
    border-radius: 10px;
    ;
    transition: all 0.5s;
}

/* text syle*/
h1{
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

/* text syle*/
h2 {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    text-align: justify;
}

/* text syle*/
h3{
    color: rgb(233, 233, 233);
    transition: all 0.5s;
}

/* text paragraph style*/
p{
    color: rgb(204, 204, 204);
    text-align: justify;
    font-size: 19px;
    transition: all 0.5s;
    margin: 20px;
    word-spacing: 4px;
}

/* footer style*/
footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    transition: all 0.5s;
}

/* list style*/
li{
    color: rgb(204, 204, 204);
    text-align: justify;
    font-size: 19px;
    transition: all 0.5s;
    margin: 20px;
    word-spacing: 4px; 
}

/* menu style */
#menu{
    align-content: center;
    margin: 0 auto ;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* login button style */
#loginB{
    align-content: center;
    margin: 0 5;
    
}

/* Background style*/
#fondo{
    width: 1500px;
}

/* login container style */
#login{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* registration section style */
#registro{
    margin-bottom: 20px;
}

/* background change style*/
#change_style{
    width: 45px;
    padding-bottom: 11px;
}

/* text and image container style */
.txtjpg{
    display: flex;
    padding: 10px;
}

/* text style*/
.txt{
    padding: 10px;
}

/* image style*/
.imgn{
    width: 1000px;
    margin: 10px;
    padding: 2px;
}

/* paragraph of vehicles text style*/
.p_val{
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    padding-bottom: 30px;
    padding-top: 0px;
} 

/* list of vehicles style*/
.T_val{
    list-style: none; 
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    padding-bottom: 20px;
    padding-top: 70px;
    
}

/* vehicles images style*/
.img_vehiculo{
    width: 350px;
    padding-top: 30px;
}

/* vehicles section style*/
.vehiculos{
    display: flex;
    flex-wrap: wrap; 
}

/* button style */
button{
    background-color: #435747;
    border: none;
    color:#ffffff;
    margin: 1 5px;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 16px;
    transition: all 0.5s;
}

/* button hover style */
    button:hover {

        background-color: #435747;
        border: none;
        color:#ffffff;
        margin: 1 5px;
        padding: 10px 11px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        border-radius: 16px;
    
    }